/* Escritorio pequeño y laptops */
@media (min-width: 1025px) {
    .header {
        justify-content: center;
        width: 90%; /* Reducir el ancho del header */
        margin: 1rem 5vw; /* Centramos el header */
        border-radius: 15px; /* Bordes redondeados */
        border: 1px solid var(--text-color); /* Borde adicional para desktops */
        
    }

    nav {
        gap: 3rem;
    }

    .header-logo {
        font-size: 3rem;
    }

    /* main */

    .about{
        flex-direction: row;
        margin-top: 0;
        height: 46vh;
    }

    .about figure{
        height: auto;
    }

    .hero{
        margin-top: calc(100vh - 90vh);
    }

    .hero{
        font-size: 1.8rem;
    }

    .title h2{
        font-size: 5.5rem;
    }
    .title h1{
        font-size: 6.5rem;
    }

    .about-description{
        font-size: 1.5rem;
    }

    .about_img{
        width: 23rem;
    }

    .stacks-title,
    .experiences-subtitle{
        font-size: 3.5em;
    }

    /* Escala genérica */
    .web .frontend ul .icon-scale img,
    .stack .icon-scale img {
        width: calc(100% + 1%); /* Incrementa proporcionalmente */
    }

    .experiences{
        font-size: 1.5rem;

    }

    .stacks{
        display: flex;
        flex-wrap: wrap;

    }

    .stacks > * {
        padding: 1.5rem;
    }

    .stacks-title-container{
        width: 100%;
        
    }

    .stacks .web{
        width: 60%;
    }

    .stacks .programacion{
        width: 40%;
    }

    .design{
        width: 70%;
    }

    .design-3d{
        width: 30%;
    }

    .aspel,
    .audio-video{
        width: 40%;
    }

    .office365{
        width: 60%;
    }

    .apps,
    .robotica{
        width: 35%;
    }

    .sistema-operativo,
    .adicionales,
    .mantenimiento{
        width: 30%;
    }
    
    .title-stacks{
        font-size: 1.2rem;
        text-align: center;
        justify-content: center;
    }

    .apps ul{
        padding: 1.5rem;
    }

    .header{
        gap: 4.5rem;
    }

    .icon-scale span{
        display: none;
    }
}
