.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    background: var(--dark-green);
    border: var(--description-border);
}

.form__title{
    color: var(--ligther-green);
    margin-bottom: 2rem;
}

.form__label {
    color: var(--text-color);
    font-size: 1.2rem;
}

.form__input,
.form__textarea {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
    font-size: 1rem;
}

.form__textarea {
    resize: none; /* Previene que el usuario modifique el tamaño */
    min-height: 150px;
}

.container__btn{
    display: flex;
    justify-content: center;
}

.form__btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--background-gradient);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.form__btn:hover {
    transform: scale(1.05);
}

.form__btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.form__input:invalid,
.form__textarea:invalid {
    border-color: #ff3366;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    border-color: var(--border-color);
    box-shadow: 0 0 5px var(--border-color);
}