/* Ocultar el menú por defecto */
nav {
    display: none; /* Ocultamos el menú inicialmente */
    position: absolute;
    top: 7vh; /* Justo debajo del header */
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    background-color: var(--filter-color);
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

/* Cuando el menú está activo */
nav.active {
    display: flex; /* Cambiamos a flex para mostrarlo */
}

/* Enlaces del menú */
nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    text-align: center;
    display: block;
}

/* Efecto hover */
nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
@media (max-width: 768px) {
    nav {
        display: none; /* Ocultamos el menú por defecto en móvil */
    }

    .icon-menu {
        display: block; /* Aseguramos que el ícono de menú sea visible */
    }
}
