/* Ocultar el menú por defecto */


/* Cuando el menú está activo */
nav.active {
    display: flex; /* Cambiamos a flex para mostrarlo */
}

/* Enlaces del menú */
nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 3.5rem;
    padding: 2.5rem 0;
    text-align: center;
    display: block;
}

/* Efecto hover */
nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
@media (max-width: 769px) {
    nav {
        display: none; /* Ocultamos el menú inicialmente */
        position: absolute;
        top: 7vh; /* Justo debajo del header */
        left: 0;
        width: 60%; /* Ocupa todo el ancho de la pantalla */
        height: 100vh;
        background-color: var(--filter-color);
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 4px 6px rgb(0, 0, 0);
        backdrop-filter: blur(90px);
        -webkit-backdrop-filter: blur(15px);
        z-index: 999;
    }

    .icon-menu {
        display: block; /* Aseguramos que el ícono de menú sea visible */
    }

    header nav a{
        font-size: 3.5rem;
    }
}
